<%=yield%>
  <main>
    <div class="abouts container">
      <div class="about-title">
        <h2>オーナー</h2>
      </div>
      <div class="about-detail">
        <div class="imgpic">
          <img src="/main.jpg">
        </div>
        <div class="discribe">
          <p>ｶﾞｰﾃﾞﾆﾝｸﾞ､手しごとや手作りすることが好きです｡</p>
        </div>
      </div>
    </div>

    <div class="abouts container">
      <div class="about-title">
        <h2>場所</h2>
      </div>
      <div class="about-detail">
        <div class="imgpic">
          <img src="/main.jpg">
        </div>
        <div class="discribe">
          <p>海があり里山があり１年を通して温暖な気候の知多半島の東側（三河湾側）にあります。<br>
          名鉄河和口駅から徒歩７分、オレンジラインというハイキングコース沿いに建っています。<br>
          海が見え、小鳥たちの歌声が聞こえ、木立ちを抜けてくる爽やかな風を感じ…<br>
          日がな一日をのんびり過ごすのをおすすめしたいです♡<br>
          連泊のお客さまでご希望の方にはお抹茶体験、庭のハーブを摘んでフレッシュハーブティー体験、機織り体験、家庭料理体験、日本語レッスン体験などをご用意しています。</p>
        </div>
      </div>
    </div>
    
    <div class="abouts container">
      <div class="about-title">
        <h2>お部屋</h2>
      </div>
      <div class="about-detail">
        <div class="imgpic">
          <img src="/washitsu.jpg">
        </div>
        <div class="discribe">
          <p>すてきでしょ？</p>
        </div>
      </div>
    </div>

    <div class="abouts container">
      <div class="about-title">
        <h2>ウォーキング</h2>
      </div>
      <div class="about-detail">
        <div class="imgpic">
          <img src="/hiking.jpg">
        </div>
        <div class="discribe">
          <p>オレンジラインを歩きましょう。</p>
        </div>
      </div>
    </div>

    <div class="abouts container">
      <div class="about-title">
        <h2>予約</h2>
      </div>
      <div class="about-detail">
        <div class="imgpic">
          <img src="/sunset2.jpg">
        </div>
        <div class="discribe">
          <p>遊びに来てね</p>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <h1>2Fish and 5Breads</h1>
    <h2>愛知県知多郡美浜町河和</h2>
    <h2>℡００００００００００</h2>
    <p>Copywrite @2Fish and 5Breads
  </footer>

</body>
</html>