<%= yield%>

<main>
  <div class="abouts container">
    <div class="about-title">
      <h2>アクセス</h2>
    </div>
    <div class="about-detail">
      <div class="imgpic">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1928.7079243250942!2d136.91784948391992!3d34.795765273500166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60048ebbf4646cad%3A0xe31c1a4e8c0e04e5!2z5pel5pys44CB44CSNDcwLTI0MDEg5oSb55-l55yM55-l5aSa6YOh576O5rWc55S65aSn5a2X5biD5Zyf5Lit5bmz5LqV77yR77yQ77yS!5e0!3m2!1sja!2sie!4v1590235450820!5m2!1sja!2sie" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="discribe">
        <ul>
          <li>車</li>
            <p>河和へ来てね<br>
            小さい道あるから気を付けてね</p>
          <li>電車</li>
            <p>河和口駅から徒歩7分<br>
            坂があるから歩きやすい靴の方がおすすめよ</p>
        </ul>
      </div>
    </div>
  </div>
  <div class="abouts container">
    <div class="about-title">
      <h2>お問い合わせ</h2>
    </div>
    <div class="about-detail">
      
      <div class="discribe">
        <ul>
          <li>お電話</li>
            <p>0000000000000</p>
          ※お問い合わせフォーム作るよ！※
        </ul>
      </div>
    </div>
  </div>


</main>

  <footer>
    <h1>2Fish and 5Breads</h1>
    <h2>愛知県知多郡美浜町河和</h2>
    <h2>℡００００００００００</h2>
    <p>Copywrite @2Fish and 5Breads
  </footer>

</body>
</html>