<%=yield%>
<main> 
  <div class="abouts container">
    <div class="about-title">
      <h2>美浜町</h2>
    </div>
    <div class="about-detail">
      <div class="imgpic">
        <img src="/main.jpg">
      </div>
      <div class="discribe">
        <p>どんなところ？<br>
        こんなとこおすすめよ
        </p>
      </div>
    </div>
  </div>

  <div class="abouts container">
    <div class="about-title">
      <h2>えびせんべいの里</h2>
    </div>
    <div class="about-detail">
      <div class="imgpic">
        <img src="/main.jpg">
      </div>
      <div class="discribe">
        <p>どんなところ？<br>
        こんなとこおすすめよ
        </p>
      </div>
    </div>
  </div>
  
  <div class="abouts container">
    <div class="about-title">
      <h2>ジョイフルファーム鵜の池</h2>
    </div>
    <div class="about-detail">
      <div class="imgpic">
        <img src="/main.jpg">
      </div>
      <div class="discribe">
        <p>どんなところ？<br>
        こんなとこおすすめよ
        </p>
      </div>
    </div>
  </div>

  <div class="abouts container">
    <div class="about-title">
      <h2>南知多ビーチランド</h2>
    </div>
    <div class="about-detail">
      <div class="imgpic">
        <img src="/main.jpg">
      </div>
      <div class="discribe">
        <p>どんなところ？<br>
        こんなとこおすすめよ
        </p>
      </div>
    </div>
  </div>

  <div class="abouts container">
    <div class="about-title">
      <h2>魚太郎</h2>
    </div>
    <div class="about-detail">
      <div class="imgpic">
        <img src="/main.jpg">
      </div>
      <div class="discribe">
        <p>どんなところ？<br>
        こんなとこおすすめよ
        </p>
      </div>
    </div>
  </div>

  
  </main> 

  <footer>
    <h1>2Fish and 5Breads</h1>
    <h2>愛知県知多郡美浜町河和</h2>
    <h2>℡００００００００００</h2>
    <p>Copywrite @2Fish and 5Breads
  </footer>

</body>
</html>


