<%=yield%>
  <main>
    <div class="top-wrapper">
      <div class="title">
        <h2>ようこそ知多半島ののどかなところへ</h2>
        <h1>2Fish and 5Breads</h1>
        <h2>多趣味なみきちゃんがおもてなすゆかいな民泊</h1>
      </div>
    </div>
  <div class="main-wrapper">
    <div class="container message-wrapper">
      <div class="container-title">
        <h1>はじめまして！知多半島へようこそ</h1>
      </div>
      <div class="main-message">
        <div class="messegeImg">
          <img src="/2fish5breads.jpg">
        </div>
        <div class="message">
          <p>のんびりできて、いいとこですよ</p>
          <p>のんびりできて、いいとこですよ</p>
          <p>のんびりできて、いいとこですよ</p>
          <p>のんびりできて、いいとこですよ</p>
          <p>のんびりできて、いいとこですよ</p>
          <p>のんびりできて、いいとこですよ</p>
          <p>のんびりできて、いいとこですよ</p>
        </div>
      </div>
    </div>

    <div class="container posts-link">
      <div class="container-title">
        <h1>みきちゃんからのおしらせ</h1>
      </div>
      <div class="main-message">
        <div class="messageImg">
          <img src="/garden2-wide.jpg">
        </div>
        <div class="message">
          <p>
            <% @posts.each do |post| %>
              <div class="posts-index-item">
                <%= post.content%><br>
                <%= l post.created_at, format: :short %>
            <%end%>
          </p>
          <a href="/posts/index">もっとおしらせ</a>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <h1>2Fish and 5Breads</h1>
    <h2>愛知県知多郡美浜町河和</h2>
    <h2>℡００００００００００</h2>
    <p>Copywrite @2Fish and 5Breads
  </footer>

</body>
</html>


